body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 500px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
