body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-wrapper {
  background-image: url("../img/pexels-element-digital-1470168.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  /* width: 400px; */
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.input-field input {
  height: 35px;
  width: 220px;
  margin: 10px 10px 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.input-field span {
  color: red;
  font-size: 12px;
}

#submit-btn {
  width: 100%;
  height: 35px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: brown;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 20px 0;
  line-height: 0;
}
input {
  outline: none;
  border: none;
}

.welcome {
  text-align: center;
  color: red;
}

#verfied-msg {
  display: block;
  color: red;
  text-align: center;
}
